h5py==3.1.0
matplotlib==3.5.1
numpy==1.19.5
opencv-python==4.5.3.56
pandas==1.3.2
keras==2.6.0
patchify==0.2.3
pyinstaller==4.8
read-roi==1.6.0
roifile==2021.6.6
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.7.1
tifffile==2021.7.2
zipp==3.6.0
tensorflow-cpu==2.6.0
tensorflow-estimator==2.6.0
openpyxl==3.0.9
six~=1.15.0
tensorboard~=2.8.0
flatbuffers~=1.12
setuptools~=58.0.4
wrapt~=1.12.1
requests~=2.27.1
gast~=0.4.0
astunparse~=1.6.3
termcolor~=1.1.0
pyqt5~=5.15.6